@page "/"
@rendermode InteractiveAuto

<PageHeader HeaderText="@headerText" PageTitle="@pageTitle" />

<p>Just the tool for herding your Alpaca Markets data into one dashboard.</p>

@code {

    private string pageTitle => "Home";
    private string headerText => "Welcome to Alpaca Herder";

}