@page "/streamdata"

@using AlpacaHerder.Shared
@using Microsoft.AspNetCore.SignalR.Client
@using Plotly.Blazor.LayoutLib
@using Plotly.Blazor.Traces.BoxLib.MarkerLib
@using Plotly.Blazor.Traces.ScatterLib
@using Blazorise
@using Config = Plotly.Blazor.Config
@using Layout = Plotly.Blazor.Layout
@using Title = Plotly.Blazor.LayoutLib.Title
@using Color = System.Drawing.Color

@inject NavigationManager navigationManager

<h3>Stream Data</h3>

<br/>

<PlotlyChart @bind-Config="config" @bind-Layout="layout" @bind-Data="data" @ref="chart" />

@code {
    [Inject] INotificationService NotificationService { get; set; }

    private HubConnection hubConnection;

    PlotlyChart chart;

    Config config = new Config
    {
        Responsive = true
    };

    Layout layout = new Layout {
        Title = new Title {
            Text = "Streaming Market Price"
        },
        YAxis = new List<YAxis> {
            new YAxis {
                Title = new Plotly.Blazor.LayoutLib.YAxisLib.Title {
                    Text = "Price"
                }
            }
        },
        XAxis = new List<XAxis> {
            new XAxis {
                Title = new Plotly.Blazor.LayoutLib.XAxisLib.Title {
                    Text = "Timestamp UTC"
                }
            }
        }
    };

    Scatter askQuoteData = new Scatter {
        Name = "Ask Prices",
        Mode = ModeFlag.Markers,
        Marker = new Marker {
            Symbol = Plotly.Blazor.Traces.ScatterLib.MarkerLib.SymbolEnum.Circle, 
            Color = Color.Red,
            AutoColorScale = false,
        },
        X = new List<object>(),
        Y = new List<object>()
    };

    Scatter bidQuoteData = new Scatter {
        Name = "Bid Prices",
        Mode = ModeFlag.Markers,
        Marker = new Marker{Symbol = Plotly.Blazor.Traces.ScatterLib.MarkerLib.SymbolEnum.CircleOpen, Color = Color.Blue},
        X = new List<object>(),
        Y = new List<object>()
    };

    Scatter tradeData = new Scatter {
        Name = "Bid Prices",
        Mode = ModeFlag.Markers,
        Marker = new Marker{Symbol = Plotly.Blazor.Traces.ScatterLib.MarkerLib.SymbolEnum.Cross, Color = Color.Pink},
        X = new List<object>(),
        Y = new List<object>()
    };

    IList<ITrace> data = new List<ITrace>();

    protected override async Task OnInitializedAsync() {

        data.Add(askQuoteData);
        data.Add(bidQuoteData);
        data.Add(tradeData);

        hubConnection = new HubConnectionBuilder()
                    .WithUrl(navigationManager.ToAbsoluteUri("/marketdatahub"))
                    .WithAutomaticReconnect()
                    .Build();

        hubConnection.On<Quote>("QuoteReceived", (Quote) => {
            var updateTriggered = false;

            if (Quote.AskPrice > 0) {
                askQuoteData.X.Add(Quote.TimestampUtc);
                askQuoteData.Y.Add(Quote.AskPrice);
                updateTriggered = true;
            }

            if (Quote.BidPrice > 0) {
                bidQuoteData.X.Add(Quote.TimestampUtc);
                bidQuoteData.Y.Add(Quote.BidPrice);
                updateTriggered = true;
            }

            if (updateTriggered) {
                chart.Update();
            }
        });

        hubConnection.On<Trade>("TradeReceived", (Trade) => {
            tradeData.X.Add(Trade.TimestampUtc);
            tradeData.Y.Add(Trade.Price);

            ShowTradeNotification(Trade);
        });

        hubConnection.On<string>("Subscribed", (Message) => {
            InvokeAsync(() => StateHasChanged()).GetAwaiter().GetResult();
        });

        hubConnection.On<string>("UnSubscribed", (Message) => {
            InvokeAsync(() => StateHasChanged()).GetAwaiter().GetResult();
        });

        await hubConnection.StartAsync();
    }

    public bool IsConnected
        => hubConnection.State == HubConnectionState.Connected;

    public void Dispose() {
        if (hubConnection is not null) {
            _ = hubConnection.DisposeAsync();
        }
    }

    Task ShowTradeNotification(Trade data)
        => NotificationService.Success( $"{data}", "Trade Occurred" );
}